body{
 margin: 0;
 padding: 0;
 background: url(../images/fondo2.webp);
 background-size: cover;
 font-family: 'Spartan';
}
header{
    width: 100%;
}
/*class*/
/*header*/
.logo{
    margin: 0 0 0 3em;
}
.mob-menu{
    display: none;
}
.mob-close{
    display: none;
}
.top-bar{
    width: 100%;
    padding: 1em 0;
    margin: 1em 0 0 0;
    background: rgba(250, 250, 250, .7);
}
.top-nav{
    padding: 0;
    margin: 0;
    float: right;
}
.top-nav-item{
    display: inline-block;
    margin: 0 .5em;
}
.top-nav-link{
    display: block;
    color: #000000;
    text-decoration: none;
}
.top-nav-link:hover{
    color: #fe0000;
    padding: 1em;
    background: rgba(250, 250, 250, .7);
    border-radius: .5em;
}
.search-item{
    border-radius: .3em;
    padding: .5em .5em;
    margin: .5em 2em 1em 0;
    background: #ffffff;
}
.input-search{
    padding: 1em 1em;
    margin: 0 .5em 0 0;
    background: #f4f4f4;
    border-radius: .2em;
    border: none;
}
.icon-search{
    border-radius: .3em;
    padding: .8em;
    color: #000000;
    background: #f4f4f4;
}
/*intro*/
.profile-section{
    padding: .3em 7em;
    margin: 4em 2em;
}
.container{
    padding: .5em .5em;
    margin: 0;
    background: rgba(250, 250, 250, .7);
}
.row-info{
    width: 100%;
    padding: 0;
    margin: 1em;
}
.col-info{
    display: inline-block;
    margin: 0 1em;
}
.photo-profile{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.tittle{
    padding: 0;
    margin: 0;
}
.row-photos{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
.col{
    display: inline-block;
    margin: 0 1em;
}
.container-photo{
    padding: .5em 1em;
    margin: 1em 0;
    background: #ffffff;
}
.photo{
    width: 275px;
    height: 225px;
    object-fit: contain;
}
.info{
    padding: 0;
    margin: .5em 0 0 0;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
    .logo{
        margin: 0 0 0 1.5em;
        width: 94px;
        height: 44px;
    }
    .mob-menu{
        display: block;
        color: #000000;
        font-size: 2.5em;
        position: absolute;
        top: .9em;
        left: 8em;
    }
    .mob-close{
        display: block;
        color: #000000;
        font-size: 2em;
        position: absolute;
        right: 1em;
        top: 1em;
    }
    .top-nav{
        position: fixed;
        top: 0;
        left: 24em;
        width: 100%;
        height: 100%;
        padding: 3em 0 0;
        background: #f4f4f4;
        transition: .5s;
        text-align: center;
        z-index: 2;
    }
    .top-nav-item{
        display: block;
    }
    .top-nav-link{
        padding: 1.5em;
        font-size: 1.3em;
    }
    .search-item{
        margin: .5em 0;
    }
    .input-search{
        padding: 1em;
        font-size: 1.3em;
    }
    .icon-search{
        padding: 1em;
        font-size: 1.3em;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px){  
    .profile-section{
        padding: 0;
    }
    .container-photo{
        padding: .5em 0;
    }
    .photo{
        width: 265px;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px){
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px){
}