body{
    margin: 0;
    padding: 0;
    background: url(../images/fondo1.webp);
    background-size: cover;
    font-family: 'Spartan';
    text-align: center;
}
.container{
    width: 351px;
    height: 415px;
    position: relative;
    margin: 8% auto;
    background: rgba(250, 250, 250, 0.5) ;
    padding: 20px 5px 0px;
    left: -27px;
    border-radius: 22px;
    overflow: hidden;
}
.input-group{
    top: 100px;
    position: absolute;
    width: 265px;
    left: 47px;
    transition: 0.5s;
    border-radius: 22px;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin:11px 0;
    border-left: 0 ;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px #eeeeee;
    border-radius: 8px;
    outline: none;
    font-weight: 400;
}
.submit-btn{
    top: 81px;
    width: 54%;
    padding: 11px 14px;
    cursor: pointer;
    display: block;
    margin: 13px 69px;
    background:#e0e0e0 ;
    border: 0px;
    outline: none;
    border-radius: 30px;
    font-weight: 400;
}

@media (max-width: 575.98px){
    body{
        background: url(../images/fondoMovil1.webp);
        background-size: cover;
    }
    .container{
        width: 344px;
        height: 409px;
        position: relative;
        margin: 5em auto;
        background: rgba(250, 250, 250, 0.5) ;
        padding: 15px 4px;
        left: 0px;
        border-radius: 22px;
        overflow: hidden;
    }
}